h1 {
	color: #ccc;
	font-weight: 300;
	font-family: 'Lobster', cursive;
	font-size: 2.5em;
}

article {
	padding: 100px 0;
	max-width: 640px;
	margin: 0 auto;
	text-align: center;
	font-family: 'Source Serif Pro', serif;
	font-size: 1.2em;
}

img  {
	width: 100%;
}

/*Parallax Styles*/
.birdbox {
	position: relative;
	height: 600px;
	background-image: url(../img/bird-bg.jpg);
	background-size: auto 600px;
	background-position: top center;
	background-attachment: fixed;
}

.logo {
	height: 100px;
	width: 100%; 
	background-image: url(../img/black-bird-logo.svg);
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	margin-top: -50px;
}