h1 {
	color: #ccc;
	font-weight: 300;
	font-family: 'Lobster', cursive;
	font-size: 2.5em;
}

h2 {
	font-size: 2em;
	font-family: 'Lobster', cursive;
	color: #ccc;
}

article {
	padding: 100px 0;
	max-width: 640px;
	margin: 0 auto;
	text-align: center;
	font-family: 'Source Serif Pro', serif;
	font-size: 1.2em;
}

img  {
	width: 100%;
}

#window {
	height: 640px;
	background-image: url(../img/model2.jpg);
	background-position: center 0px;
	background-repeat: repeat-y;
	background-attachment: fixed;
	margin-top: 100px;
	border-radius: 50%;
	position: relative;
}

#tint {
	background-color: rgba(0, 0, 0, .5);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#promo {
	color: #fff;
	font-family: 'Source Serif Pro', serif;
	font-weight: 100;
	font-size: 50px;
	line-height: 1.2;
}

#promo strong {
	display: block;
	font-size: 30px;
}

#promo strong span{
	font-weight: normal;
	font-size: 18px;
	font-style: italic;
	color: rgba(255, 255, 255, .6);
}

#cta {
	font-size: 20px;
	text-decoration: none;
	color: #fff;
	border: #fff 1px solid;
	padding: 10px 20px;
	transition: all .3s ease-in-out;
}

#cta:hover {
	background: #fff;
	color: black;
}

/*Parallax Styles*/
.birdbox {
	position: relative;
	height: 600px;
	background-image: url(../img/bird-bg.jpg);
	background-size: auto 600px;
	background-position: top center;
	background-attachment: fixed;
	overflow: hidden;
}

.logo {
	height: 100px;
	width: 100%; 
	background-image: url(../img/black-bird-logo.svg);
	background-position: center;
	background-repeat: repeat-y;
	position: absolute;
	top: 50%;
	margin-top: -50px;
}

.fore-bird {
	width: 960px;
	height: 733px;
	background-image: url(../img/fore-bird.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	position: absolute;
	left: 50%;
	margin-left: -480px;
	top: 380px;
}

.back-bird {
	width: 960px;
	height: 298px;
	background-image: url(../img/back-bird.png);
	background-repeat: no-repeat;
	background-position: top left;
	position: absolute;
	left: 50%;
	margin-left: -480px;
}

/*Parallax Styles End*/

/*hr styles*/

hr {
	border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
  margin-top: 40px;
  margin-bottom: 40px;
}

/* end of hr styles*/

.clothes-pics figure {
	margin-bottom: 20px; 
	position: relative;
	opacity: 0;
	transform: translate(-20px);
	transition: all 0.3s ease-in-out;
}

.clothes-pics figure.is-showing {
	opacity: 1;
	transform: translate(0px);
}

.row-img .btn-success {
	background-color: black;
	color: #ccc;
	border: none;
	border-radius: 0;
	margin-top: 10px;
}

/*Modal Styles*/

.modal-title {
	text-align: center;
}

.modal-body {
	text-align: center;
}

.modal-body > img {
	border-radius: 100%;
	height: 300px;
	width: 300px;
	margin-top: 20px;
	margin-bottom: 40px;
}

.modal-body dl {
	font-weight: bold;
	font-family: 'Source Serif Pro', serif;
	font-size: 1.3em;
}

.modal-body .btn-success {
	background-color: black;
	color: #ccc;
	border: none;
	border-radius: 0;
	margin-top: 10px;
	font-family: 'Source Serif Pro', serif;
	margin-bottom: 20px;
	font-size: 1.2em; 
}

.modal-footer {
	text-align: center;
	background: #000000;
	color: #fff;
}

.modal-footer > p {
	letter-spacing: 1px;
	font-size: 16px;
	font-family: 'Source Serif Pro', serif;
	font-weight: 800;
}

/*End of Modal Styles*/

